
/*START UP SCREEN*/
.startUpContainer {
    width: 100%;
    height: 100vh; 
    background-image: url('resources/images/portraitBackground.png');
    background-size: cover;
    background-position: center; 

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startUpLogo {
    width: 65vw;
}

.startUpSlogan {
    margin-bottom: 30vh;
    font-size: 1.03em;
    font-family: mini;
    color: #95aace;
    width: max-content;
}

@media screen and (orientation: landscape) {
    .startUpContainer {
        background-image: url('resources/images/landscapeBackground.png');
    }
    .startUpLogo {
        width: 20vw;
        max-width: 300px;
    }    
}

/*LOGIN/SIGNUP BOX*/

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: absolute;
    top: 20vh;

    background-color: #95aacf31;
    padding: 4vh 4vw 6vh 4vw;
    border-radius: 20px;
}

.loginBox,
.signupBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*LOGO*/

.logo {
    margin-bottom: 30px;
    max-width: 270px;
}

@media (orientation:portrait) {
    .logo {
        width: 55vw;
    }
}

/*INPUT BOXES*/

input {
    font-family: BPreplayBold;
    border: 0 solid #bac1db;
    border-radius: 30px;
    color: #8b96bd;
    width: 30vw;
    max-width: 280px;
    padding: 10px 10px;
    text-align: center;
    transition: opacity 0.4s ease;
    margin-bottom: 15px;
    background-color: #ffffff;
    font-size: .8em;
}

@media (orientation:portrait) {
    input {
        width: 55vw;
    }
}

input:hover::placeholder {
    opacity: 0.3;
    cursor: pointer;
}

input::placeholder {
    transition: opacity 0.4s ease;
    font-family: BPreplayBold;
    opacity: 0.6;
}

input:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/*LOGIN BUTTON*/

button {
    font-family: BPreplayBold;
    font-size: .8em;
    border: 0;
    color: #ffffff;
    background-color: #95aacf;
    border-radius: 30px;
    width: auto;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #95aacfaf;
    cursor: pointer;
}

/*ERROR/SUCCESS MESSAGE*/

.errorMessage {
    font-family: BPreplayBold;
    color: #f48091;
    text-align: center;
}

.successMessage {
    font-family: BPreplayBold;
    color: #88b77c;
    text-align: center;
}

/*OPTION LINKS*/

.options {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.link {
    font-family: BPreplay;
    font-size: 0.8em;
    color: #8497d7;
    transition: opacity 0.4s ease;
    text-decoration: underline;
}

.linkBold {
    font-family: BPreplayBold;
    font-size: 1em;
    color: #ffffff;
    transition: opacity 0.4s ease;
    text-decoration: none;
    letter-spacing: 1px;
}

.link:hover, .linkBold:hover {
    cursor: pointer;
    opacity: 0.5;
}

.notAUserLink, .alreadyAUser {
    position: fixed;
    text-align: center;
    white-space: nowrap;
    font-size: .8em;
    bottom: 1.8vh;
    left: 50%;
    transform: translateX(-50%);
    text-decoration:none;
    color: #ffffff;
    z-index: 3;
}

.forgotPasswordLink {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

/* STARS */
.star1 {
    width: 26px;
    position: absolute;
    bottom: 28vh;
    left: 10vw;
    z-index: 5;
}

.star2 {
    width: 30px;
    position: absolute;
    bottom: 17vh;
    right: 30vw;
    z-index: 5;
}

.star3 {
    width: 25px;
    position: absolute;
    bottom: 65vh;
    right: 4vw;
    z-index: 5;
}

.starOnString1 {
    width: 30px;
    position: absolute;
    top: -5vh;
    left: 15vw;
}   
.starOnString2 {
    width: 30px;
    position: absolute;
    top: 0vh;
    right: 30vw;
}   
.starOnString3 {
    width: 30px;
    position: absolute;
    top: -8vh;
    right: 12vw;
}   

/* WAVES */

.wave {
    position: fixed;
    min-width: 1100px;
    width: 100vw;
    bottom: -4px; 
    left: 0;
    z-index: 2;
}

@media (min-width: 1500px), (max-height: 560px) {
    .wave {
        display: none;
    }
    .notAUserLink, .alreadyAUser, .linkBold {
        color: #eeb5c4;
    }    
}

/* ANIMATIONS */
.rotate-center, .rotate-reverse, .rotate-center2 {
    -webkit-animation: r 10s linear infinite both;
            animation: r 10s linear infinite both;
}

@-webkit-keyframes r {
  0% {-webkit-transform: rotate(0); transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes r {
  0% {-webkit-transform: rotate(0); transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

.rotate-reverse {
    -webkit-animation-name: r-reverse;
            animation-name: r-reverse;
}

@-webkit-keyframes r-reverse {
  0% {-webkit-transform: rotate(0); transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes r-reverse {
  0% {-webkit-transform: rotate(0); transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

.slide-bottom1, .slide-up, .slide-bottom2 {
    -webkit-animation: s 5s ease-in-out infinite alternate both;
            animation: s 5s ease-in-out infinite alternate both;
}

@-webkit-keyframes s {
  0% {-webkit-transform: translateY(0); transform: translateY(0);}
  100% {-webkit-transform: translateY(5vh); transform: translateY(5vh);}
}

@keyframes s {
  0% {-webkit-transform: translateY(0); transform: translateY(0);}
  100% {-webkit-transform: translateY(5vh); transform: translateY(5vh);}
}

.slide-up {
    -webkit-animation-name: s-up;
            animation-name: s-up;
}

@-webkit-keyframes s-up {
  0% {-webkit-transform: translateY(0); transform: translateY(0);}
  100% {-webkit-transform: translateY(-6vh); transform: translateY(-6vh);}
}

@keyframes s-up {
  0% {-webkit-transform: translateY(0); transform: translateY(0);}
  100% {-webkit-transform: translateY(-6vh); transform: translateY(-6vh);}
}

.slide-bottom2 {
    -webkit-animation-name: s-bottom2;
            animation-name: s-bottom2;
}

@-webkit-keyframes s-bottom2 {
  0% {-webkit-transform: translateY(0); transform: translateY(0);}
  100% {-webkit-transform: translateY(4vh); transform: translateY(4vh);}
}

@keyframes s-bottom2 {
  0% {-webkit-transform: translateY(0); transform: translateY(0);}
  100% {-webkit-transform: translateY(4vh); transform: translateY(4vh);}
}

.puff-in-center{-webkit-animation:puff-in-center .9s both;animation:puff-in-center .9s both}
@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.typewriter p {
    color: #95aace;
    overflow: hidden; 
    border-right: .15em solid #95aace; 
    white-space: nowrap; 
    letter-spacing: .10em; 
    animation: 
      typing 1.8s steps(30, end),
      blink-caret .5s step-end 2 2s forwards;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#95aace }
  }
  
  .puff-out-center{-webkit-animation:puff-out-center .7s cubic-bezier(.165,.84,.44,1.000) both;animation:puff-out-center .7s cubic-bezier(.165,.84,.44,1.000) both}
  @-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}

  .fade-in{-webkit-animation:fade-in .8s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in .8s cubic-bezier(.39,.575,.565,1.000) both}
  @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
  
  .fade-out{-webkit-animation:fade-out .7s ease-out both;animation:fade-out .7s ease-out both}
  @-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}
