.pageContent {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline;
}


p {
    color: #34353f;
}

.loadingContainer {
    opacity: 1;
}
.header {
    background-color: #95aace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 28vh;
    max-height: 60px;
    padding: 10px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.headerLogo {
    width: 30vw;
    max-width: 150px;
}

.footer {
    background-color: #95aace;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: max-content;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.footerIcon {
    width: 5vw;
    max-width: 22px;
    transition: opacity .4s ease;
}

@media (hover: hover) {
    .footerIcon:hover, .settingsIcon:hover, .exitSettings:hover, button:hover {
        opacity: .4;
        cursor: pointer;
    }
}

.selectedPage {
    background-color: #eeb5c4;
    padding: 10px;
    border-radius: 10px;
}

.contentPage {
    margin-top: 10vh;
    position: relative;
}

.accountsPage {
    padding: 30px;
}
.currentUserInfo {
    display: flex;
    align-items: center;
}
.currentUserTextInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.currentUserProfilePic{
    border-radius: 999vw;
    width: 25vw;
    max-width: 100px;
    border: 5px solid white;
}
.currentUserUsername {
    font-family: BPreplayBold;
    font-size: 1.3em;
    letter-spacing: 2px;
    margin: 0 0 2vh 0;
}
.currentUserBio {
    font-size: .9em;
    margin: 0;
}

hr {
    border: none; 
    border-top: 2px solid #95aace; 
    margin: 20px 0;
}

.noPostsYet {
    text-align: center;
    font-family: BPreplayBold;
    opacity: .35;
}

.settingsIcon {
    width: 5vw;
    max-width: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.accountSettingsContainer, .editBioContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountSettingsBackground, .editBioBackground {
    background-color: #ffffffbd;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.accountSettingsMenu, .editBioMenu {
    background-color: #95aace;
    min-width: 50vw;
    width: max-content;
    height: max-content;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;

}

.editBioLabel {
    color: white;
    font-family: BPreplayBold;
    letter-spacing: 1px;
    text-align: center;
}

.editBioTextArea {
	width: 55vw;
	height: 15vh;
	padding: 30px;
	border: 0;
	border-radius: 30px;
	text-align: center;
	font-family: BPreplay;
	font-size: 1em;
	word-wrap: break-word;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.655);
	resize: none;
	color: #222326;
}

.editBioTextArea:focus {
	border: 0;
	outline: 0;
}

button {
    background-color: white;
    color: #95aace;
    font-family: BPreplayBold;
    text-align: center;
    border-radius: 20px;
    padding: 7px 30px;
    margin: 15px 0;
    border: 0;
    font-size: 1em;
}

.saveProfilePicButton {
    background-color: #95aace;
    width: 100%;
    font-size: 1em;
    color: white;
    padding: 8px;
    margin: 10px 0 2px 0;
    letter-spacing: 1px;
}
.logoutButton {
    background-color: #22232600;
    color: white;
}

.exitSettings{
    text-align: center;
    color: rgb(255, 255, 255);

}