/* Layout */
.pageContent {
	height: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	display: flex;
	align-items: flex-start;
	overflow-x: hidden;

}

body {
	overflow-x: hidden;
	
}

/* Typography */
p {
	color: #34353f;
	text-align: center;
}

/* Loading */
.loadingContainer {
	opacity: 1;
	z-index: 100;
}

/* Header */
.header {
	background-color: #95aace;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: max-content;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 101;
}

.headerLogo {
	width: 110px;
}

/* Footer */
.footer {
	background-color: #95aace;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: max-content;
	padding: 8px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 101;
}

.footerIcon {
	width: 20px;
	transition: opacity .4s ease;
}

@media (hover: hover) {
	.footerIcon:hover,
	.settingsIcon:hover,
	.exitSettings:hover,
	button:hover,
	.postCommentIcon:hover,
	.postHeartIcon:hover,
	.postMenu:hover,
	.commentMenu:hover,
	.postUsername:hover,
	.followButton:hover {
		opacity: .4;
		cursor: pointer;
	}
}

/* Page Styles */
::-webkit-scrollbar {
    display: none;
}

.selectedPage {
	background-color: #eeb5c4;
	padding: 8px;
	border-radius: 10px;
}

.contentPage {
	margin-top: 50px;
	width: 100vw;
	padding: 30px 0;
}

.createAPostPage {
	height: 100vh;
    width: 100vw;
    z-index: 5;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	position: fixed;
	overflow-y: scroll;
}

/* Current User Info */
.currentUserInfo, .userInfo {
	display: flex;
	align-items: flex-start;
	align-items: center;
	width: 90%;
	position: relative;
	bottom: 20px;
	z-index: 3;

}

.userInfo {
	margin-top: 60px;
}

.currentUserTextInfo, .userTextInfo {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 15px;
}

.currentUserProfilePic, .userProfilePic {
	border-radius: 999vw;
	width: 80px;
	border: 0;
	cursor: pointer;
}

.currentUserUsername, .userUsername {
	font-family: BPreplayBold;
	font-size: 1.3em;
	letter-spacing: 2px;
	margin: 0;
	text-align: left;
}

.currentUserBio, .userBio {
	font-size: .9em;
	margin: 0;
	text-align: left;
}

.currentUserFollowersInfo, .userFollowersInfo {
	background-color: #c5b8d9;
	color: white;
	padding: 7px 10px;
	border-radius: 10px;
	margin-left: 20px;
	font-size: .9em;
	white-space: nowrap;
}

.usernameAndFollowersCount {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.followButton {
	background-color: #95aace;
	border-radius: 30px;
	padding: 10px;
	width: 25px;
	margin-right: 15px;
}

.following {
	background-color: #c5b8d9;
}

/* Horizontal Rule */
hr {
	border: none;
	border-top: 2px solid #95aace;
	margin: 0;
	width: 90%;
}

/* No Posts Yet */
.noPostsYet {
	text-align: center;
	font-family: BPreplayBold;
	opacity: .35;
}

/* Settings and Menus */
.settingsIconContainer {
	display: flex;
	justify-content: flex-end;
	width: 90%;
	z-index: 4;
}

.settingsIcon {
	width: 5vw;
	max-width: 25px;
}

.accountSettingsContainer,
.editBioContainer,
.postEditContainer,
.changePasswordContainer,
.deleteCommentContainer {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accountSettingsBackground,
.editBioBackground,
.postEditBackground,
.deleteCommentBackground {
	background-color: #ffffffc1;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

.accountSettingsMenu,
.editBioMenu,
.postEditMenu,
.changePasswordMenu,
.deleteCommentMenu {
	background-color: #95aace;
	min-width: 50vw;
	width: max-content;
	height: max-content;
	padding: 30px;
	border-radius: 20px;
	margin-bottom: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.editBioLabel,
.changePasswordLabel {
	color: white;
	font-family: BPreplayBold;
	letter-spacing: 1px;
	text-align: center;
}

.editBioTextArea {
	width: 55vw;
	height: 15vh;
	padding: 30px;
	border: 0;
	border-radius: 30px;
	text-align: center;
	font-family: BPreplay;
	font-size: 1em;
	word-wrap: break-word;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.655);
	resize: none;
	color: #222326;
}

.editBioTextArea:focus {
	border: 0;
	outline: 0;
}

/* Buttons */
button {
	background-color: white;
	color: #95aace;
	font-family: BPreplayBold;
	text-align: center;
	border-radius: 20px;
	padding: 7px 30px;
	margin: 15px 0;
	border: 0;
	font-size: 1em;
	min-width: 70%;
}

.saveProfilePicButton {
	background-color: #95aace;
	width: 100%;
	font-size: 1em;
	color: white;
	padding: 8px;
	margin: 10px 0 2px 0;
	letter-spacing: 1px;
}

.logoutButton {
	background-color: #22232600;
	color: white;
}

.exitSettings {
	text-align: center;
	color: rgb(255, 255, 255);
}

/* Input Fields */
input {
	font-family: BPreplayBold;
	border: 0 solid #bac1db;
	border-radius: 30px;
	color: #8b96bd;
	width: 30vw;
	max-width: 280px;
	padding: 10px 10px;
	text-align: center;
	transition: opacity 0.4s ease;
	margin-bottom: 15px;
	background-color: rgba(255, 255, 255, 0.655);
	font-size: .8em;
}

input:focus {
	outline: 0;
}

/* Post Styling */
.feedPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: max-content;
	padding-bottom: 80px;
	position: absolute;
	width: 100vw;
}

.accountsPage, .profileViewPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileViewPage {
	padding-top: 25px;
}

.postsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.postContainer {
	width: 85%;
	max-width: 380px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 5vh 0;
}

.posterInfo {
	display: flex;
	align-items: center;
	width: 90%;
	padding: 0 0 5px 0;
}

.posterProfilePic {
	width: 12vw;
	max-width: 50px;
	border-radius: 999vw;
}

.postUsername {
	font-size: 1em;
	font-family: BPreplayBold;
	text-align: left;
	letter-spacing: 3px;
	width: 100%;
	color: #8ca1c5;
	padding-left: 10px;
	transition: opacity .4s ease;
}

.postMenu, .commentMenu {
	width: 22px;
	transition: opacity .2s ease;
}

.postImage {
	width: 100%;
	max-width: 380px;
	border-radius: 10px;
	margin: 0;
}

.postFooter {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	padding: 15px 15px 0 15px;
}

.postText {
	display: flex;
	flex-direction: column;
	width: 65%;
}

.postCaption {
	text-align: left;
	margin: 0 0 5px 0;
	background-color: #eeb5c482;
	padding: 10px 15px;
	border-radius: 10px;
	color: #34353f;
	font-size: .85em;
}

.postDate {
	font-size: .7em;
	opacity: .5;
	text-align: left;
	margin: 3px 0 0 5px;
}

.postIcons {
	display: flex;
	align-items: center;
	margin: 5px 0 20px 0;
}

.postCommentCount,
.postLikeCount {
	font-family: BPreplayBold;
	font-size: .85em;
	margin: 0;
}

.postCommentCount {
	color: #95aace;
}

.postLikeCount {
	color: #eeb5c4;
}

.postCommentIcon,
.postHeartIcon {
	width: 22px;
	margin: 0 8px;
	transition: opacity .2s ease;
}

/* Post View Container */

.postViewPage {
    height: max-content;
    width: 100vw;
    z-index: 5;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	position: absolute;
	overflow-y: scroll;
}

.backToFeedButtonContainer, .backToAccountButtonContainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
}

.backToFeedButton , .backToAccountButton{
	margin: 0;
	padding: 5px 10px;
	background-color: #e7a0b3;
	color: white;
	min-width: max-content;
	font-size: .9em;
}

.postViewHR {
	width: 90%;
	margin: 10px 0;
	max-width: 500px;
}

 .postViewPage .postContainer {
	width: 90%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0 0px 0;
}

.postViewPage .postText {
	margin: 0;
	width: 100%;
}

.commentingContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #8ca1c5;
	width: 90%;
	max-width: 400px;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 15px;
}
.commentingInputBox {
	padding: 8px 15px;
	font-size: .9em;
	font-family: BPreplay;
	text-align: left;
	width: 70%;
	margin: 0 15px 0 0;
	color: #222326;
	background-color: #ffffffc1;
}

.commentingInputBox::placeholder{
	color:#34353f;
}

.postCommentButton {
	width: max-content;
	padding: 8px 10px;
	margin: 0;
	font-size: .9em;
	min-width: max-content;
	color: #e5a1b3;
}

.allCommentsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 400px;

	margin-bottom: 30px;
}

.commentContainer {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	position: relative;
}

.commentorProfilePic {
	width: 50px;
	border-radius: 99vw;
}

.commentText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 15px;
	font-size: .9em;
	opacity: .8;
}

.commentorUsername {
	font-family: BPreplayBold;
	font-size: .8em;
	text-align: left;
	margin: 0 0 5px 0;
	color: #34353f;
	letter-spacing: 1px;
}

.commentorComment {
	font-size: .9em;
	margin-left: 15px;
	margin: 0;
	color: #34353f;
}

.commentDate {
	font-size: .7em;
	opacity: .4;
	margin: 0 10px;
}

/* Animations */
.slide-out-bottom{-webkit-animation:slide-out-bottom .4s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-bottom .4s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}

.slide-in-bottom{-webkit-animation:slide-in-bottom .4s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .4s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-left{animation:slide-in-left .4s ease-in-out both}
@keyframes slide-in-left{0%{transform:translateX(-100vw);opacity:0}100%{transform:translateX(0);opacity:1}}

.slide-in-right{animation:slide-in-right .4s ease-in-out both}
@keyframes slide-in-right{0%{transform:translateX(100vw);opacity:0}100%{transform:translateX(0);opacity:1}}

.slide-out-right{animation:slide-out-right .4s cubic-bezier(.55,.085,.68,.53) both}
@keyframes slide-out-right{0%{transform:translateX(0);opacity:1}100%{transform:translateX(100vw);opacity:0}}

.slide-out-left{animation:slide-out-left .4s cubic-bezier(.55,.085,.68,.53) both}
@keyframes slide-out-left{0%{transform:translateX(0);opacity:1}100%{transform:translateX(-100vw);opacity:0}}

/* Current User Post Previews */
.currentUserPostContainer, .userPostContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.userPostContainer {
	margin-top: 20px;
}

.currentUserPostPreviewContainer, .userPostPreviewContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(23vw, 1fr));
	gap: 10px 7px;
	width: 90vw;
	justify-content: center;
}

.currentUserPostPreview, .userPostPreview {
	width: 100%;
	max-width: 140px;
	border-radius: 10px;
	cursor: pointer;
}

@media screen and (orientation: landscape) {
	.currentUserPostPreviewContainer, .userPostPreviewContainer {
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	}

	.currentUserPostContainer, .userPostContainer {
		justify-content: flex-start;
	}
}

/* Create a Post Styling */
.createAPostButton {
	background-color: #e7a0b3;
	color: white;
	letter-spacing: 1px;
	width: 90%;	
	padding: 8px 0;
	margin: 15px 0 15px 0;
	font-size: .9em;
}

.createAPostLabel {
	background-color: #8ca1c5;
	color: white;
	padding: 10px 5px;
	width: 100%;
	max-width: 350px;
	border-radius: 15px;
	font-size: 1.2em;
	font-family: BPreplayBold;
	margin-top: 35px;
}

.uploadImageButton {
	width: 60vw;
	margin-top: 20px;
	max-width: 300px;
}

.createACaption {
	font-size: .9em;
	margin-top: 10px;
	font-family: BPreplay;
	width: 60%;
	max-width: 250px;
	outline: 0;
	border: 0;
	padding: 25px;
	height: auto;
	resize: none;
}

.createACaptiom:focus {
	outline: 0;
}

.createACaption::placeholder {
	color: #34353f;
}

.createPostButton {
	background-color: #8b96bd;
	color: white;
	padding: 10px 20px;
	min-width: max-content;
}

#croppedImage
{
	width: 100%;
}
.cr-boundary {
	border-radius: 15px;
	border: 8px solid #eeb5c4;
}
.croppie-container, .cr-viewport {
	border: 0 !important;
}
.cr-slider-wrap {
	display:none;
}
.croppie-container {
    height: max-content !important;
}

/* Update Password Styling */
.updatePasswordErrorMessage {
	font-family: BPreplayBold;
	color: #f48091;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.782);
	padding: 10px;
	border-radius: 10px;
}

.updatePasswordSuccessMessage {
	font-family: BPreplayBold;
	color: #88b77c;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.782);
	padding: 10px;
	border-radius: 10px;
}

/* NOTIFICATIONS STYLING */

.notificationsPage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notificationContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	max-width: 400px;
	background-color: #f1c1ce87;
	border-radius: 10px;
	padding: 8px 10px;
	position: relative;
	margin-bottom: 20px;
}

.accountAndNotification, .dateAndPostPreview {
	display: flex;
	justify-content: center;
	align-items: center;
}

.accountProfilePic {
	width: 45px;
	border-radius: 999vw;
	margin-right: 10px;
}

.notificationText {
	font-size: .8em;
	text-align: left;
	opacity: .9;
}

.notificationText .comment {
	opacity: 1;
}

.comment {
	font-style: italic;
}

.dateNotified {
	font-size: .7em;
	opacity: .7;
	margin-left: 10px;
}

.postPreviewPic {
	width: 45px;
	border-radius: 5px;
	margin-left: 15px;
}

